body {
min-width:960px;
font-family: 'Roboto', "Arial" ,sans-serif;
font-weight:500;
font-size:16px;
color: #000000;
line-height: 30px;
text-transform: uppercase;
background-color: #eeeeee;
}
.wrap {
  background-color: #ffffff;
}
main {
  display:block;
}
.main-navigation a {
  color: #000000;
  text-decoration: none;
}
.main-navigation-link:hover {
  color: #fb565a;

}
.main-navigation-link:active {
  opacity:0.4;
}

h1 {
  display:block;
  margin:0;
  padding:0;
  min-width:500px;
  line-height: 40px;
  font-size:  40px;
  font-weight: 500;
  text-align: center;
}
.main-navigation-link {
  font-size:  14px;
}
.user-block a::before {
  content: "";
  position: absolute;
  top:5px;
  left: 25px;

  width: 18px;
  height: 18px;

  background: transparent url("../img/sprite.png") no-repeat;
  opacity:0.3;
}
.user-block a:hover::before{
  background: transparent url("../img/basket-red.png") no-repeat;
  background-size: cover;
}
.long-expesive {
  margin:0;
  margin-top:31px;
  padding:0;
  line-height: 40px;
  font-size:  36px;
  color: #283136;
  line-height: 38px;
  text-transform: none;
}
.definition-text {
  line-height: 22px;
  text-transform: none;
}
.know-more-btn {
  margin-top:23px;
  width:240px;
}
.know-btn {
  display:block;
  margin:0;

  padding:10px 60px;
  text-align: center;
}
.know {
  margin-top:-60px;
}
h3 {
  margin-top:10px;
  margin-bottom:20px;
  font-size:  18px;
}
.option-info-text {
  font-size:  15px;
  line-height: 22px;
  text-transform: none;
  color: #283136;
  margin-top:-6px;
}
.about-us-left-title {
  display:block;
  font-size:  36px;
  line-height: 36px;
  padding-top:41px;
  margin-bottom:90px;
  width:530px;
  text-transform: none;
}
.about-us-left-title + p {
  margin-top:-20px;
}
.about-us-text {
  margin-left:10px;

  font-size:  16px;
  line-height: 22px;
  color: #283136;
  text-transform: none;
}
.y {
  padding-top:10px;
  margin-bottom:-10px;
}
.since {
  line-height: 8.56px;
  position:relative;
}
.since::before {
  content: "";
  position: absolute;
  top:2px;
  left: 0px;

  width: 66px;
  height: 2px;

  background: #eeeeee;
}
.since::after {
  content: "";
  position: absolute;
  top:2px;
  left: 180px;

  width: 66px;
  height: 2px;

  background: #eeeeee;
}
.address-text {
  line-height: 20px;
  text-transform: none;
  color: #666666;
}
.lets-friend {
  font-size:  36px;
  line-height: 36px;
  text-transform: none;
}
.lets-friend + .about-us-text {
  margin-top:2px;
}
.filter-option  {
  font-size:  18px;
  padding:0;
  margin-top:10px;
  line-height: 30px;
  text-transform: uppercase;
}
.sort {
  font-size:  12px;
  line-height: 18px;
  margin-right: 36px;
}
.div-on-img-choice {
  position:absolute;
  display:none;
  top:30px;
  left:20px;
  width:199px;
  height:199px;
  background-color: #ffffff;
}
.img-choice {
  font-weight: 700;
  font-size: 18px;
  line-height: 8.56px;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  text-transform: none;
  text-decoration: none;
}
.div-on-img-choice-title {
  display:block;
  padding:10px 60px;
  text-transform: uppercase;
}
.div-on-img-choice-text {
  position:relative;
  display:block;
  padding-left:30px;
  font-size:  14px;
  line-height: 18px;
  color: #283136;
  width:134px;
}
.div-on-img-choice-button {
  position:absolute;
  left:25px;
  width:140px;
  height:40px;
  width:150px;
  height:30px;

  text-align: center;
  margin-right:30px;
  margin-top:10px;
  background-color: #fb565a;
  padding-top:5px;
  padding-bottom:5px;
}
.div-on-img-choice-button:hover {
  background-color: #d6494d;
}
.div-on-img-choice-button:active {
  background-color: #b63538;
}
.button-action {
  display:inline-block;
  vertical-align: top;
  padding-top:10px;
  font-size:  18px;
  line-height: 8.56px;
  color: #ffffff;
  text-decoration: none;
}
.main-header {
  margin-bottom: 80px;
}
.clearfix::after {
  content: "";

  display: table;
  clear: both;
}
.container {
  width: 880px;
  margin: 0 auto;
  padding: 0 10px;
}
.iindex-logo {
  float:left;
  margin-top:20px;
  margin-right:20px;
}
.user-block {
  float:right;
  margin-top:25px;
  padding-right:12px;
  padding-top:22px;
  width:110px;
  text-align: right;
}
.user-block  a {
  position:relative;
  display:block;
  color: #000000;
  text-decoration: none;
  vertical-align: top;
  padding-left:57px;
}
.slider {
  clear:both;
}
.slider-text {
  float:left;
  width: 380px;
}
.slider-img {
  float:right;
}
.option {
  padding-top:80px;
  margin-bottom:50px;
  width: 880px;
}
.offers {
  position:relative;
  list-style: none;
}
.option-offers {
  position:relative;
  display:inline-block;
  vertical-align: top;
  min-height: 322px;
  float:left;
  width:240px;
  margin-right:80px;
}
.offers{
  margin-right: 0;
  padding:0;
  margin:0;
}
.option-offers:last-child {
  margin-right: 0;
}
.about-us-left {
  float:left;
  width:621px;
}
.about-us-right {
  float:right;
  width:250px;
}
.since {
  text-align: center;
}
.about-us-right-logo {
  padding-left:32px;
  padding-right: 32px;
  padding-top: 58px;
  margin-bottom:25px;
}
.logos {
  clear:both;
}
.logos-ul {
  float:left;
  padding: 0px 0;
  padding-left:12px;
  margin:0;
  margin-top:40px;
  margin-bottom:110px;
}
.map {
  clear:both;
  min-height: 417px;
  margin-top:9px;
  background:#ffffff url("../img/map.png") center  no-repeat;
  background-size: cover;
}

.footer-social-left {
float:left;
width: 240px;

}
.footer-social-right{
  float:right;
  width: 550px;
}
.main-footer{
  margin-top: 75px;
  margin-bottom:75px;
}
.greetings {
  clear:both;
}
.detail-choice {
  float:left;
  width:240px;
}
.filter {
  margin-bottom:46px;
}
.type-of-grid {
  margin-bottom:45px;
  line-height: 20px;
}
.specific-features {
  line-height: 25px;
  text-transform: none;
}
.selection {
  padding-bottom:70px;
  margin-left:2px;
}
.selection-result{
  float:right;

  width:570px;
}
.result-table-ul {
  margin:0px;
  padding:0;
  padding-left:10px;
}
.result-table-li {
  position:relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 76px;
  margin-bottom: 100px;
}
.result-table-li::before {
  content: "";
  position: absolute;
  top:-29px;
  left: 0px;

  width: 240px;
  height: 29px;
  opacity:0.1;

  background: transparent url("../img/border.png");
}
.result-table-li:hover::before {
  content: "";
  position: absolute;
  top:-29px;
  left: 0px;

  width: 240px;
  height: 29px;
  opacity:1;

  background: transparent url("../img/border.png");
}
.result-table-li:nth-child(2n) {
  margin-right: 0px;
}
.number-of-page-li {
  margin-right: 6px;
  padding:16px;
  padding-top:19px;
  padding-bottom:19px;
  line-height: 0;
  border-radius: 3px;
  background-color: #f1f1f1;
}
.number-of-page-li:hover {
  background-color: #f1f1f1;
}
.number-of-page-li:hover {
  background-color: #e5e5e5;
}
.number-of-page-li:active {
  background-color: #d5d5d5;
  border-top:2px solid #aeadad;
}
.page-nmb {
  line-height: 0;
  font-size:12px;
  font-weight: 700;
  text-decoration: none;
  color:#000000;
}
.next {
  padding-right:26px;
  padding-left:33px;
}
.result-table-li:hover .div-on-img-choice {
  display: block;
}
.main-navigation-li{
  display: inline-block;
  vertical-align:middle;
  margin-right:42px;
}
.contact {
  margin-right:0px;
}
.logos-li {
  display: inline-block;
  margin-right:115px;
  vertical-align: middle;
  opacity:0.2;
}
.logos-li:hover {
  opacity:1;
}
.logos-li:last-child {
  margin-right: 0;
}
.sort-li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
}
.sort-ul {
  display: inline-block;
  vertical-align: middle;
  padding:0;
  margin:0;
}
.number-of-page-li {
  display: inline-block;
  vertical-align: top;
}
.number-of-page-ul {
  padding:0;
  margin:0;
  margin-left:11px;
   margin-top:-25px;

}
.slider-ul {
 padding:0;
 margin:0;
 list-style: none;
}
.main-navigation {
  float:left;
  margin-top:25px;
  margin-left: 160px;
  margin-bottom:40px;
}
.main-navigation-ul {
  padding:0;
  margin:0;
  margin-top:20px;
}
.map-info {
  padding-top:85px;
}
.address{
  width:256px;
  background-color: #ffffff;
  width:235px;
  padding:12px 0px;
  padding-left:15px;
}
.social-btn  {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 0 0px;
  margin-right:26px;
  vertical-align: top;

  font-size: 0;
  text-decoration: none;

  background: #e1e1e1 url("../img/sprite.png") no-repeat center;
  border-radius: 50%;
}
.social-btn:last-child {
  margin-right: 0;
}
.social-btn-vk {
  background-position: -195px 20px;
}
.social-btn-inst {
  background-position: -117px 20px;
}
.social-btn-fb {
  background-position: -40px 14px;
}
.social-btn-vk:hover,
.social-btn-inst:hover,
.social-btn-fb:hover {
  background-color: #fb565a;
}
.social-btn-vk:active,
.social-btn-inst:active,
.social-btn-fb:active {
  background-color: #d6494d;
}
.greetings {
  margin-left:105px;
  margin-bottom:10px;
  padding-top:-3px;
  width:657px;
  text-align: center;
}
.filter {
  width:240px;
}
.min-price,
.max-price {
  width:80px;
}
.btn {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}
.btn:hover {
  background-color:#d6494d;
}
.btn:active {
  background-color:#b63538;
}
.option-btn,
.option-btn-yellow,
.option-btn-green {
  position: absolute;
  bottom:0;
  left:0;
  width:140px;
}
.yellow {
  background-color: #efc84a;
}
.green {
  background-color: #00ca74;
}
.green:hover {
  background-color: #01a25e;
}
.yellow:hover {
  background-color: #d6ae2c;
}
.green:active {
  background-color: #009053;
}
.yellow:active {
  background-color: #c09b24;
}
.red,
.green,
.yellow {
  padding:10px 40px;
}
.transform {
  text-transform:uppercase;;
}
.about-us-text + .transform {
  margin-top:40px;
}
.diff-opt {
  list-style:none;
  margin-top:25px;

}
.t {
  margin-bottom:20px;
  margin-left:-5px;

}
.diff-opt  li {
  position:relative;
}
.x {
  margin-left:-10px;
  padding-top:2px;
}
.diff-opt  li::before {
  content: "";
  position: absolute;
  top:5px;
  left: -37px;

  width: 25px;
  height: 2px;

  background: #fb565a;
}
.date + p {
  margin-top:60px;

}

.how-we-work {
  margin:0;
  margin-top:40px;
  padding:0;
  list-style: none;
}
.how-we-work li {
  padding-left:36px;
  position:relative;
}
.v {
  margin-bottom:20px;
}
.about-us-right-logo {
  margin-top:15px;
  margin-left:10px;
}
.how-we-work li::before {
  content: "";
  position: absolute;
  top:6px;
  left: 8px;

  width: 25px;
  height: 2px;

  background: #fb565a;
}
.write-us-btn {
  width:205px;
  margin-top:25px;
  margin-bottom:15px;
}
.btn-map {
  margin:0;
  padding:0;
  padding:10px 50px;
}
.catalog-user-block {
  margin-bottom:70px;
}
.catalog-cont {
  padding-top:70px;
}
.input-btn {
  margin-top:50px;
  width:160px;
  padding:14px 40px;
  background-color: #f1f1f1;
  color:#000000;
}
.input-btn:hover {
  background-color: #e5e5e5;
}
.input-btn:active {
  background-color: #d5d5d5;
}
.filter-choice {
  position:relative;
  margin-left:30px;
  font-size:  16px;
  line-height: 20px;
  text-transform: none;
  color: #283136;
}
.radio-input {
  position:absolute;
  left:-9999px;
  opacity:0;
}
.feautures {
  font-weight: 20px;
}
.filter-choice::before {
  content: "";
  position: absolute;
  left:-33px;
  top:-3px;

  width: 25px;
  height: 25px;

  background: transparent url(" ../img/icon-circle.png") no-repeat;

}
input:checked + .filter-choice::before {
  content: "";
  position: absolute;
  left:-33px;
  top:-3px;

  width: 25px;
  height: 25px;

  background: transparent url(" ../img/icon-circle-dot.png") no-repeat;
}
.filter-choice-specific {
  position:relative;
  margin-left:35px;
  font-size:  16px;
  line-height: 20px;
  color: #283136;
}
.check-input {
  position:absolute;
  left:-9999px;
  opacity:0;
}
.filter-choice-specific::before {
  content: "";
  position: absolute;
  left:-35px;
  top:-3px;

  width: 25px;
  height: 25px;

  background: transparent url(" ../img/icon-check-off.png") no-repeat;
}
input:checked + .filter-choice-specific::before {
  content: "";
  position: absolute;
  left:-35px;
  top:-3px;

  width: 25px;
  height: 25px;

  background: transparent url(" ../img/icon-check-on.png") no-repeat;
}
.sort-div {
  position:relative;
  width:570px;
  margin-bottom:36px;
  margin-left:10px;
}
.sort-div:after{
  content: "";
  position: absolute;
  right:24px;
  top:15px;

  width: 12px;
  height: 12px;
  opacity:0.3;

  background: transparent url(" ../img/icon-down-dir.png") no-repeat;
}
.sort-div:before{
  content: "";
  position: absolute;
  right:8px;
  top:15px;

  width: 12px;
  height: 12px;
  opacity:0.3;

  background: transparent url(" ../img/icon-up-dir.png") no-repeat;
}
.sort-div:active::before{
  content: "";
  position: absolute;
  right:-5px;
  top:13px;

  width: 12px;
  height: 12px;
  opacity:1;

  background: transparent url(" ../img/icon-up-dir.png") no-repeat;
}
.sort-div:active::after{
  content: "";
  position: absolute;
  right:10px;
  top:13px;

  width: 12px;
  height: 12px;
  opacity:1;

  background: transparent url(" ../img/icon-down-dir.png") no-repeat;
}
.show-btn {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  font-family: 'Roboto','Arial', sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 2px dotted #00ca74;
}
.show {
  margin-top:-22px;
}
.show-btn  .sort {
  opacity:0.3;
  border-bottom: 2px dotted #00ca74;
}
.show-btn  .sort:hover {
  opacity:1;
  border-bottom: 2px solid #00ca74;
}
.show-btn  .sort:active {
  opacity:1;
  border-bottom: none;
}
.divide {
  position:absolute;
  top:380px;
  left:0px;
  width:885px;
  height:2px;
  background-image: url("../img/divide.png")
}
.divide2 {
  position:absolute;
  top:1020px;
  left:0px;
  width:885px;
  height:2px;
  background-image: url("../img/divide.png")
}
.divide3 {
  position:absolute;
  top:860px;
  left:0px;
  width:885px;
  height:2px;
  background-image: url("../img/divide.png")
}
.slider{
    position:relative;
    width:880px;
    height:310px;
    margin:0 auto;
}
.slider input[type=radio] {
  position:absolute;
  opacity:0;
}
.slider-controls{
    position:absolute;
    bottom:95px;
    left:50%;
    width:200px;
    height:10px;
    margin-left:-100px;
    text-align:center;
    z-index:1000;
}
.slider-controls label{
    display:inline-block;
    width:4px;
    height:4px;
    margin:0 3px;
    background:white;
    border:3px solid white;
    vertical-align: top;
    border-radius:50%;
    cursor:pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background: #c1c1c1;
}
.slide{
    position:absolute;
    z-index: 1;
    width:100%;
    height:100%;
    overflow:hidden;
}
.slide:nth-child(1){
    background-image:url('../img/comp.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}

.slide:nth-child(2){
    background-image:url('../img/slider2.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide:nth-child(3){
    background-image:url('../img/slider3.png');
    background-repeat:no-repeat;
    background-position:100% 0;
}

.slide {
  display:none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) {
  display:block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
  display:block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
  display:block;
}
.range-filter {
  width:240px;
}
.range-controls {
  position: relative;
  height: 41px;
  padding-right: 20px;
  padding-left: 20px;

  padding-top: 39px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 15px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 20px;
}
.range-controls .max-toggle {
  left: 145px;
}
.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
.max-price {
  text-align: right;
}
.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #f1f1f1;
}
.nerds-map {
  font-weight: 700;
}
.header-catalog {
  margin-bottom:0;
}
.main-footer {
  padding-bottom:50px;
}
@keyframes bounce {
  0%   {
    transform: translateY(-2000px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
.modal-content-show {
  display: block;
  animation: bounce 0.6s;
}
.modal-error {
  animation: shake 0.6s;
}
